 .navbar {
    width: 100%;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    transition: top 0.6s;
    top: 0;
    position: fixed;
    z-index: 9999;
  }

  .navbar--hidden {
    top: -55px;
  }

  .navbar:hover {
    top: 0;
  }

  .navbar-brand {
    height: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 5px;
  }

  .color-nav {
    background-color: rgba(70, 70, 70, 0.6);
  }

  .navbar-nav > li {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

   .navbar-collapse {
    height: 60px;
    /* margin-left: 16px; */
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
   }

   .collapse {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    transition: 0.3 ease;
    min-height: none;
   }

   .custom-toggler .navbar-toggler-icon {
    font-size: 25px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(143, 236, 248, 0.836)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .custom-toggler.navbar-toggler {
    margin-left: auto;
  }

a {
  position: relative;
  display: inline-block;
  font-size: 2em;
  font-weight: 800;
  overflow: hidden;
  background: linear-gradient(to right, rgba(228, 228, 228, 0.452), rgb(133, 186, 255), rgba(169, 245, 255, 0.836) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

a:hover {
  background-position: 0 100%;
}

.grow { 
  transition: all .2s ease-in-out; 
}

.grow:hover { 
  transform: scale(1.3); 
}

